@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.expertise {
  font-size: 62.5%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertise p {
  margin-top: 0rem;
  color: gray;
  font-size: 1rem;
  text-align: center;
}
.expertise h2 {
  margin-top: 2em;
  font-size: 1.8rem;
}

#underline {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: lightgray;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-section-top {
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.1rem lightgray;
}

.card-section-bottom {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
}

.card:is(:nth-child(1), :nth-child(2), :nth-child(4), :nth-child(5)) {
  border-right: solid 1px lightgray;
}

.card p {
  color: lightgray;
  font-size: 1rem;
}

.meet-our-amazin-team {
  /* min-width: 90%; */
  background-image: url("img/bgk-header.png");
  background-size: cover;
  min-height: 70vh;
  color: white;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
}

.team-section-header {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  line-height: 0.5em;
}

.team-section-header p {
  margin: 0rem 0rem 3.5rem 0rem;
  color: lightgray;
}

.team-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-card {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem lightgray;
  align-items: center;
}
.team-card:is(:nth-child(1), :nth-child(2), :nth-child(3)) {
  margin-right: 1rem;
}

.team-card p {
  margin-top: 0rem;
  color: lightgray;
}
.team-card h4 {
  margin-bottom: 0.5rem;
}

.picture {
  height: 17rem;
  width: 15rem;
  background-color: white;
}
.hiring-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 2rem;
}

#hiring-button {
  border: solid 0.1rem rgb(134, 215, 205);
  border-radius: 0.1rem;
  padding: 1.1rem;
  color: rgb(134, 215, 205);
}
.contact-section {
  /* min-width: 90%; */
  background-color: white;
  display: flex;
  min-height: 60vh;
  justify-content: center;
  /* border: solid 2px red; */
  flex-wrap: wrap;
}

.contact-section h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.contact-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5rem;
}
.contact-field input {
  padding: 0.8rem 12rem 0.8rem 0.3rem;
  margin-bottom: 1rem;
  border: solid 0.1rem lightgray;
  color: rgb(182, 180, 180);
}
#big-inputbox {
  padding: 0.5rem 12rem 8rem 0.3rem;
}
#button {
  border: solid 0.1rem rgb(134, 215, 205);
  border-radius: 0.1rem;
  padding: 1rem 4rem;
  color: rgb(134, 215, 205);
  font-weight: bold;
  background-color: white;
}

.partner-wrapper {
  display: flex;
  flex-direction: column;
}
.partner-logo-wrapper {
  display: flex;
}
.partner-logo-wrapper img {
  margin-bottom: 4rem;
}
.first-five-logos {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 5rem;
}

.last-five-logos {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
footer {
  /* min-width: 90%; */
  background-image: url(/img/bgk-footer.png);
  background-size: cover;
  height: 30vh;
  color: white;
}

.footer-wrapper-main {
  /* max-width: 70%; */
  /* margin-top: 2%;
  margin-left: 15%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.footer-wrapper-main-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.social-media {
  margin-top: 8%;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location > img {
  align-self: flex-start;
  padding-top: 1em;
  padding-right: 0.8em;
}

.phone {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.phone > img {
  padding-right: 0.8em;
}

.footer-wrapper-main-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-wrapper-main-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-wrapper-bottom {
  display: flex;
  justify-content: center;
  gap: 24em;
}

.footer-bottom-left {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.footer-bottom-right {
  display: flex;
  padding: 0 1em;
}

.email-senden {
  position: relative;
  display: inline-block;
  top: 0.6em;
  width: 2.5rem;
  height: 1.45rem;
  margin-left: 0.2em;
  padding: 0.5em 0.2em 0.2em 0.5em;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

#email {
  color: rgba(255, 255, 255, 0.612);
  background-color: rgba(255, 255, 255, 0);
  padding: 0.6em;
  border-radius: 3px;
}
