@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display&family=Roboto:wght@100;400&display=swap");
/**    
font-family: 'Hammersmith One', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Roboto', sans-serif;

    **/

/* ****************** Hero Section ****************** */

.hero-section {
  /* min-width: 90%; */
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/bgk-header.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.tajam {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1%;
}

.tajam-caption {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  letter-spacing: 0.04em;
  color: rgba(0, 255, 255, 0.5);
  /* background: linear-gradient(#64e4e6, #5561e7); */
}

.hero-section-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-section-nav-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.hero-section-nav-li > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-section-nav-li > li > a:hover {
  color: rgba(0, 224, 208, 255);
}

.hero-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section article h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: white;
}

.line {
  width: 50px;
  border-bottom: solid 1px rgba(0, 224, 208, 255);
}

.hero-section > article > p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: white;
  line-height: 1.5em;
  margin: 3rem;
  text-align: center;
  min-width: 200px;
  max-width: 1200px;
}

/* *********** Our Story Section *************** */

.ourstory-section {
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.ourstory-section > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.ourstory-section > article > p {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
  min-width: 200px;
  max-width: 1000px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/*  */
.watchstory-section {
  min-height: 40vh;
  /* min-width: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/bgk-middle.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.play-caption {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.08em;
  color: white;
  /* align-self: ; */
}

/* *********** Button ************************ */
.btn-learnMore {
  font-family: "Hammersmith One", sans-serif;
  align-self: center;

  color: rgba(0, 224, 208, 255);
  letter-spacing: 0.04em;
  margin-bottom: 3em;
  padding: 0.8em 1em;
  border: 1px solid rgba(0, 224, 208, 255);
}
