@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

/* ****************** Hero Section ****************** */
.hero-section{
    /* min-width: 90%; */
    min-height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tajam{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -1%;
}

.tajam-caption{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.04em;
    color: rgba(0,255,255, 0.5); 
    /* background: linear-gradient(#64e4e6, #5561e7); */
}

.hero-section-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-section-nav-li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.hero-section-nav-li>li>a{

    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section-nav-li>li>a:hover{
    color:rgba(0,255,255, 0.8);   
}

.hero-section article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 50px;
    border-bottom: solid 1px rgba(0,255,255, 0.8);
}

.hero-section>article>p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255,255,255,0.7);
    line-height: 1.5em;
    margin: 3rem;
    text-align: center;
    min-width: 200px;
    max-width: 1200px;
}

/* *********** Our Story Section *************** */

.ourstory-section{
    /* min-width: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.ourstory-section>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.ourstory-section>article>p{
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.493);
    min-width: 200px;
    max-width: 1000px;
}

/*  */
.watchstory-section{
    min-height: 40vh;
    /* min-width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bgk-middle.png);
    background-repeat: no-repeat;
    background-size: cover;    
}

.play-caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.08em;
    color: white;
    /* align-self: ; */
}

/* *********** Button ************************ */
.btn-learnMore{
    /* display: inline-block; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;
    /* margin-left: 30vw; */
    color:rgba(0,255,255, 0.8);
    letter-spacing: 0.04em;
    margin-bottom: 3em;
    padding: 0.8em 1em;
    border: 1px solid rgba(0,255,255, 0.8);
}