<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

=======
>>>>>>> e5459aa640ed7d978c3e374728e03bf65918c361
.brd{
    border: solid 2px gray;
}

.hero-section{
    min-height: calc(100vh / 2.3);
    background-image: url(./img/bgk-header.png);
}

.tajam{
    display: flex;
    flex-direction: row;
    align-items: center;
<<<<<<< HEAD
    gap: 0.4em;
}

.tajam-caption{
    font-family: 'Montserrat', sans-serif;/*Hevetica, sans-serif; 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 1.6em;
    /* letter-spacing: 0.04em; */
=======
    gap: 0.2em;
}

.tajam-caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.04em;
>>>>>>> e5459aa640ed7d978c3e374728e03bf65918c361
    color: rgba(0,255,255, 0.5); 
    /* background: linear-gradient(#64e4e6, #5561e7); */
}

.hero-section-nav{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: center;
=======
>>>>>>> e5459aa640ed7d978c3e374728e03bf65918c361
}

.hero-section-nav-li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.hero-section-nav-li>li>a{

    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section-nav-li>li>a:hover{
    color:rgba(0,255,255, 0.8);   
}

<<<<<<< HEAD
li{
    list-style: none;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 5em;
=======
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
>>>>>>> e5459aa640ed7d978c3e374728e03bf65918c361
    color: white;
    text-align: center;
}

<<<<<<< HEAD
.line{
    /* display: inline-block; */
    /* text-align: center; */
    /* justify-self: center; */
    margin: 33em;;
    width: 50px;
    border-bottom: solid 1px rgba(0,255,255, 0.8);
=======
li{
    list-style: none;
>>>>>>> e5459aa640ed7d978c3e374728e03bf65918c361
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255,255,255,0.7);
    line-height: 1.5em;
    margin: 3rem;
    text-align: center;
}

.btn-learnMore{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(0,255,255, 0.8);
    letter-spacing: 0.04em;
    margin-left: calc(100vw / 2.4);
    margin-bottom: 3em;
    padding: 0.8em 1em;
    border: 1px solid rgba(0,255,255, 0.8);
}